body {
    background-color: black;
    color: white;
}
.container {
    background-image: url("/img/game.png");
    background-repeat: no-repeat;
    padding-bottom: 35em;
    padding-right: 5em;
    margin: 5em;
}


.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 2rem;
}


.score {
    margin-left: .1em;
    font-size: 12px;
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 60px;

}

.name {

}